#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html, body {
  background-color: #fff;
}

.app {
  display: flex;
}

.list-container {
  width: 10rem;
  height: 20rem;
  border: 2px black solid;
  border-radius: 1rem;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  flex-direction: column;
  gap: 1rem;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  margin: 0 4rem;
}

.buttons-container button {
  padding: 1rem 2.5rem;
  background-color: #eee;
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  border: 1px solid #000;
}

.buttons-container button:disabled {
  opacity: .25;
}